body {
    margin: 0;
    margin-right: 20%;
    padding: 0;
    min-height: 100vh;
    font-family: "Source Code Pro", "Roboto Mono";
    color: #c2fbe1;
    overflow-x: hidden;
    background: #181c18;


}



